@import url("https://fonts.googleapis.com/css?family=Roboto:700");
body
{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: rgb(2,13,41);
    user-select: none;
    margin: 0;
    overflow: hidden;
    background: rgb(2,13,41);
    font-family: Courier, monospace;
    font-size: 14px;
    color: #ccc;
}

.sss
{
    display: flex;
    height: 75px;
    color: white;
    border-style: solid;
    border-left: white;
    border-right: white;
    border-top: white;
    font-size: 300%;
    align-items: center;
    font-family: arial, sans-serif;
    background-image: linear-gradient(0deg,rgb(2,13,41), black);
}

.navSystem
{
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: right;
}

.naviSystem
{
  display: flex;
  font-size: 30%;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.naviSystem:hover
{
  display: flex;
  font-size: 30%;
  color: rgb(2,13,41);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  background-color: white;
  text-decoration: none;
  user-select: none;
}

.drop
{
  display: flex;
  font-size: 30%;
  color: white;
  background-color: transparent;
  border-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.drop:hover
{
  display: flex;
  font-size: 30%;
  color: rgb(2,13,41);
  background-color: white;
  border-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.opt
{
  display: flex;
  color: rgb(2,13,41);
}

.drop
{
  display: flex;
  font-size: 30%;
  color: white;
  background-color: transparent;
  border-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.drop:hover
{
  display: flex;
  font-size: 30%;
  color: rgb(2,13,41);
  background-color: white;
  border-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.opt
{
  display: flex;
  color: rgb(2,13,41);
}


.wrapper {
  display: block;
  margin-top: 3%;
  margin-left: 2%;
  border: 1px solid #555;
  width: 800px;
  height: 450px;
  position: relative;
  align-items: center;
  justify-content: center;
}
#c
{
  margin-top: 5%;
  margin-left: 5%;
}
 @media only screen and (max-widht:980px)
 {
  .wrapper {
    width: 400px;
    height: 250px;
  }
  #c
  {
    width: 300px;
    height:150px;
  }
 }
 * {
  margin:0;
  padding:0;
  font-family: 'Arvo';
}
.area
{
  display: flex;
}


.main{
  /* height:100vh; */
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 4rem;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #1D3557;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
  
}

.roller #rolltext {
  width: 100%;
  position: absolute;
  font-size: 55px;
  top: 0;
  animation: slide 10s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px){
  h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
  
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 10s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}