body
{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: rgb(2,13,41);
    user-select: none;
}

.sss
{
    display: flex;
    height: 75px;
    color: white;
    border-style: solid;
    border-left: white;
    border-right: white;
    border-top: white;
    font-size: 300%;
    align-items: center;
    font-family: arial, sans-serif;
    background-image: linear-gradient(0deg,rgb(2,13,41), black);
}

.navSystem
{
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: right;
}

.naviSystem
{
  display: flex;
  font-size: 30%;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  text-decoration: none;
  user-select: none;
}

.naviSystem:hover
{
  display: flex;
  font-size: 30%;
  color: rgb(2,13,41);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  background-color: white;
  text-decoration: none;
  user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
  background: rgb(2,13,41);
  font-family: Courier, monospace;
  font-size: 14px;
  color: #ccc;
}

.wrapper {
  display: block;
  margin-top: 8%;
  margin-left: 2%;
  border: 1px solid #555;
  width: 800px;
  height: 450px;
  position: relative;
  align-items: center;
  justify-content: center;
}
#c
{
  margin-top: 5%;
  margin-left: 10%;
}

