body {
  background-color: rgb(2, 13, 41);
  user-select: none;
  color: white;
  overflow: hidden;
  text-align: justify;
}

div {
  max-width: 700px;
  position: relative;
  margin: auto
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0px 10px;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0px 10px;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
/*.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}